<div id="aboutpage">
<h1>
    Welcome to Pharmacy Store
</h1>
<div class="center">
<p>A pharmacy (also called "drugstore" in American English or "community pharmacy" or "chemist" in Commonwealth English or rarely apothecary) is a retail shop which provides pharmaceutical drugs, among other products. At the pharmacy, a pharmacist oversees the fulfillment of medical prescriptions and is available to counsel patients about prescription and over-the-counter drugs or about general health issues. A typical pharmacy would be in the commercial area of a community.</p>
</div>
</div>
