p{
    color: white;
    font-family: cursive;
    font-weight: bolder;
}
a{
    color: white;
    font-size: small;
    font-style: italic;
    text-decoration: none;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
  }